.fa {
  width: 100%;
  height: 75%;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

/*wrap navbar*/
