<!-- Contact
================================================== -->
<section class="cta text-center">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h2>How can NextMove help your organization thrive?</h2>
        <p>
          Contact us at <strong><a href="mailto:connect@nextmove.is">connect@nextmove.is</a></strong>.
        </p>
      </div>
    </div>

  </div>

</section>
