<!-- Featured Sections
================================================== -->
<section id="featured1" class="dark with-bg">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 overlay-text">
        <div class="vertical-align">
          <h2>We ask different questions.</h2>
          <p>Innovation happens at the intersection of diverse experience and disruptive curiosity. NextMove harvests our intergenerational expertise in facilitation, change management, whole system engagement, movement arts, community organizing, and software design to create rich environments for discovery and collaboration.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay-bg black"></div>

</section>

<section id="featured2" class="featured">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <img class="margin-top img-responsive" src="img/imac.png" alt="Generic placeholder image" data-sr="enter left, hustle 20px" width="429">
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="vertical-align">
          <h2>We deliver tools for change.</h2>
          <p>Culture reflects "the way we do things around here." NextMove helps you create a culture of excellence by initiating processes and practices that invite people to bring their best and most creative selves into achieving shared goals.</p>
        </div>
      </div>
    </div>
  </div>

</section>
