<!-- Hero Banner
================================================== -->
<div id="intro">
    <div class="item" style="background: url('img/bg-featured1.gif')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h2 class="mt0">Constant change. It's the new reality. </h2>
            <br>
            <h1>NextMove helps organizations access their potential to thrive in change.</h1>
            <br>
            <h3>How will your company evolve?</h3>
            <p><a class="btn btn-lg btn-primary scroll" href="#about" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
