<!-- Hero Banner
================================================== -->
<div id="intro">
    <div class="item background-cover" style="background: url('img/desert-small.jpg')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h2 class="mt0">New day. New opportunities.</h2>
            <br>
            <h1>NextMove helps organizations access their potential to thrive in change.</h1>
            <br>
            <br>
            <h3>How will you evolve?</h3>
            <p><a class="btn btn-lg btn-primary scroll" href="#our-approach" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
