<!-- Hero Banner
================================================== -->
<div id="intro">
    <div class="item" style="background: url('img/bg-featured1.gif')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center colour-white">
            <h2 class="mt0">Within every organization, there is a vast untapped wealth of knowledge, creativity, and will, and it’s going to waste.</h2>
            <br>
            <h1>NextMove helps businesses, nonprofits, and communities unleash their potential.</h1>
            <p><a class="btn btn-lg btn-primary scroll" href="#about" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
