<!-- About Section
================================================== -->
<section id="our-approach" class="content text-center light">

  <div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12 overlay-text">
        <h2>Unleash knowledge, creativity, and will.</h2>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-arrow-right icon-large"></i>
        </div>
        <h3>Lead Change</h3>
        <p>Cultivate a strength-based culture of organizational learning and continuous innovation.</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-rocket icon-large"></i>
        </div>
        <h3>Practice Team Excellence</h3>
        <p>Launch collaborative tools and practices to activate high performing self-organizing teams.</p>
      </div>
      <div class="col-sm-4 text-center overlay-text icons">
        <div class="icon-wrapper">
          <i class="fa fa-lightbulb-o icon-large"></i>
        </div>
        <h3>Inspire Engagement</h3>
        <p>Master the art of engaging people for design thinking, strategy, and collaborative action.</p>
      </div>
    </div><!-- /.row -->
  </div>

  <div class="overlay-bg light"></div>

</section>
