<!-- Portfolio
================================================== -->
<section class="section-content section-isotope separator" id="projects">

  <div class="page-header text-center">
    <h3>Projects</h3>
    <h2>Selected work</h2>
  </div>

  <div class="container">
    <div id="filters" class="button-group text-center">
      <!-- <button data-filter-value="*" class="active">show all</button> -->
      <button data-filter-value=".leadership">Leadership Development</button>
      <button data-filter-value=".collaboration">Collaboration Workshops</button>
      <button data-filter-value=".engagement">Engagement Design and Facilitation</button>
    </div>
    <div class="row demo-3">
      <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
        <div class="col-sm-6 col-md-4 portfolio-item enagagement">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Lorem ipsum</h3>
              <span>Jewelry Industry</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/thumb1.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#testModal"><i class="fa fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
            </figcaption>
          </figure>
        </div>

        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 portfolio-item leadership">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Lorem ipsum</h3>
              <span>Leadership Development</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/thumb2.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="img/thumbs/thumb2.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Learn More"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item collaboration">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Lorem ipsum</h3>
              <span>Collaboration Workshops</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/thumb3.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="img/thumbs/thumb3.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Learn More"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade white-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</section>
