<!-- Portfolio
================================================== -->
<section class="section-content section-isotope separator" id="projects">

  <div class="page-header text-center">
    <h3>Projects</h3>
    <h2>Selected work</h2>
  </div>

  <div class="container">
    <div id="filters" class="button-group text-center">
      <button data-filter-value="*" class="active">show all</button>
      <button data-filter-value=".leadership">Leadership & Teamwork</button>
      <button data-filter-value=".planning">Strategic Planning and Retreats</button>
      <button data-filter-value=".engagement">Large-scale Community Engagement</button>
    </div>
    <div class="row demo-3">
      <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
        <div class="col-sm-6 col-md-4 portfolio-item leadership">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>Leading High Performing Teams at AbbVie</h4>
              <span>AbbVie, Inc.</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/abbvie.jpg" alt="Abbvie">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalAbbvie"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://www.abbvie.com" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>

        <div class="col-sm-6 col-md-4 portfolio-item engagement">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>Citizens Create a Roadmap for a New Economy</h4>
              <span>Appalachian Voices and Virginia Organizing Project</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/swva.jpg" alt="SWVA forums">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalAppvoices"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://appvoices.org" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item leadership">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>NextUp: Creating a Culture of Excellence at INPO</h4>
              <span>The National Institute for Nuclear Power Operations</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/inpo.jpg" alt="INPO">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalINPO"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://www.inpo.info" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item planning">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>Strategic Planning: Building Bridges Across Racism</h4>
              <span>Building Bridges of Asheville, NC</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/bridges.jpg" alt="Building Bridges">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalBridges"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://www.buildingbridges-ashevillenc.org" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item engagement">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>The Jewelry Industry Summit</h4>
              <span>Jewelers Vigilance Committee</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/jewelry.jpg" alt="Jewelry Summit">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalJewelry"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://www.jewelryindustrysummit.com" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item planning">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h4>The Success Equation: Families + Community2 = Thriving Children</h4>
              <span>Children First / Communities in School</span>
            </div>
            <!-- Thumbnail -->
            <img src="img/thumbs/children.jpg" alt="Children First">
            <!-- Thumb links -->
            <figcaption>
              <a class="preview" data-toggle="modal" data-target="#modalChildren"><i class="fa pop fa-plus tooltips" data-toggle="tooltip" data-placement="bottom" title="Learn More"></i></a>
              <a href="http://childrenfirstcisbc.org/thesuccessequation" class="link" target="_blank"><i class="fa pop fa-external-link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalAbbvie">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">Leading High Performing Teams at AbbVie</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> AbbVie, Inc. (pharmaceuticals; Chicago, IL)</h4>
          <h4><strong>Project:</strong> Leadership Development Workshop</h4>
          <br>
          <p>
            AbbVie hired NextMove to design and deliver a highly interactive and strengths-based program would generate results.  What set this 2-day event apart was the approach. Rather than teaching people about high performance, leaders and team members engaged in high performance. 45 leaders participated in unique movement activities and used strength-based practices to try on a new leadership paradigm.  They embodied a learner’s mindset, developed a sense of ‘we’, and experienced the vulnerability and openness required to lead top performing teams.
          </p>
          <p>
            AbbVie’s team leaders then initiated their NextUp practice by (1) identifying pivotal changes they felt would generate the positive changes they wanted for their teams, (2) clarifying the outcomes they were aiming for, (3) designing mini-experiments they would implement the next day, and (4) developing a plan to review the outcomes of their experiments, learn, and evolve their way to excellence—with skillful practice over time.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalAppvoices">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">Citizens Create a Roadmap for a New Economy</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> Appalachian Voices (Charlottesville, VA)</h4>
          <h4><strong>Project:</strong> Engage the citizens of SWVA in developing a roadmap for a new economy.</h4>
          <br>
          <p>
            The coal industry in Southwest Virginia is rapidly shrinking, leaving communities across the region economically depressed and uncertain how to rebuild their economies.  In the Fall of 2015, the regional non-profit organizations Appalachian Voices and Virginia Organizing  hired NextMove to design a facilitate a series of 8 community forums across the Coalfields of Southwest Virginia. The purpose of the forums was to bring together members of each community and gather ideas and inspiration on how to build a new economy in the region that works for everybody.
          </p>
          <p>
            More than 130 community members participated in lively small group conversations to think creatively about a future that would allow the region flourish. A set of primary economic drivers were identified including tourism, agriculture, alternative energy, health & education, and the aging population. The current focus is on creative strategies to inspire people to participate in crowdsourcing action planning for each of these strategies online. These plans will become part of a regional economic development proposal for federal resources to help pave the road for a new economy.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalINPO">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">NextUp: Creating a Culture of Excellence at INPO</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> The National Institute for Nuclear Power Operations (INPO) (Atlanta, GA)</h4>
          <h4><strong>Project:</strong> Enhance collaboration and build morale, Appreciative Inquiry</h4>
          <br>
          <p>
            INPO’s culture change initiative aims to generate excellence in leadership and teamwork throughout the organization. The Director of the Learning Development, Leadership Curriculum Division had recently learned about Appreciative Inquiry and believed this strength-based approach would support excellence in her division. She hired NextMove to provide an introduction and use the approach to create a strategic plan.          </p>
          <p>
            Her team had a brief introduction to AI and used the approach to develop a plan for their division to take their teams to the next level.  Subsequently, the division identified two primary levers they believed would support radical positive change.  The group then designed six mini-experiments, three for each lever.  Their plan included how and when the experiments would be implemented (some on the next day) plus a time to reflect, learn and evolve their way towards a culture of excellence and collaboration. They left the workshop a different team than they entered: morale was high, they were certain these experiments would move them towards excellence, and they were eager to get started.  One participant left saying, “This is the first workshop I’ve been to that’s actually worth the time; we accomplished something important, we can use this going forward. This one will make a difference!”
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalBridges">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">Strategic Planning: Building Bridges Across Racism</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> Building Bridges (Asheville, NC)</h4>
          <h4><strong>Project:</strong> Board facilitation, strategic planning, crafting mission and vision statements</h4>
          <br>
          <p>
            Building Bridges, a non-profit organization designed to build understanding and relationships across races, was tired of the same old strategic planning processes—sitting in seats looking at flipcharts. They reached out to NextMove because they had heard about our highly participative approach to strategic planning and Board engagement. They had a long list of items they wanted to address and were surprised to learn there was a possibility for getting to the draft stage for each of them.
          <p>
            The retreat was a day of high engagement, meaningful connection, and laser focus. Using iterative cycles of creative conversation, reflection, and prototyping, each member of the Board was able to significantly contribute to every outcome while small groups drafted recommendations for each of their goals. One participant closed by remarking, “It never occurred to me that we could possibly get through this agenda in one day. We did it and it was fun; this day went so fast!”
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalJewelry">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">The Jewelry Industry Summit</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> Building Bridges (Asheville, NC)</h4>
          <h4><strong>Project:</strong> Sustainable Business Practices and Responsible Sourcing</h4>
          <br>
          <p>
            A landmark meeting for the jewelry industry took place over three days in March 2016 in NYC where over 150 members from across the industry supply chain worked together to craft their vision for a vibrant and sustainable/responsible future for businesses, communities, and the environment.  Rather than a conference of talking heads, NextMove’s Cheri Torres, was hired to design and facilitate a summit where participants engaged in one on one conversation and group discussions about their desire to build sustainable business practices across the industry. The conference ended on a high, with a sense of hope and possibility as well as plans and commitments to act.
          <p>
            In addition to 11 initiatives to support continuous improvement and action, there was energy and passion to maintain the momentum by hosting a second summit and inviting others from around the world to join.  The second annual Jewelry Industry Summit is being hosted by the American Gem Trade Association and will take place in Tucson, January 29-30, 2017 at the Marriott University Park.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade project" id="modalChildren">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">The Success Equation: Families + Community2 = Thriving Children</h4>
        </div>
        <div class="modal-body">
          <h4><strong>Client:</strong> Children First/Communities in School (Asheville, NC)</h4>
          <h4><strong>Project:</strong> Community engagement in planning systemic strategies to enable every child in the community to thrive and succeed.</h4>
          <br>
          <p>
            Children First/Communities in School knows a major route out of poverty is a successful early childhood. They also know this is a complex issue involving economic stability, early childhood education, and family support systems.  A system-based issue like this required all stakeholders from the community to come together and collaborate on strategic systemic solutions. Children First worked with NextMove partner, Cheri Torres, to design and facilitate a 2-day Summit to do just that.
          <p>
            The highly engaging, strengths-based approach of Appreciative Inquiry was used to (1) bring people together to discover the best of what is already in place in Asheville (asset mapping), (2) identify the dreams community members held for all children and families (shared visioning), and (3) design strategic focus areas and possibilities for action going forward (strategic plan). Three focal areas emerged, six strategic proposals were outlined. Action started before the event ended. Subsequently, a public advocacy outreach program has been implemented and family resource centers have been established or enhanced. These centers support and empower children and their families, improve access to services and social connection, and increase educational, vocational, health, and parenting skills. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</section>
