<!-- Team
================================================== -->
<section id="team" class="dark">

  <div class="page-header text-center">
    <h3>Our Team</h3>
    <h2>Our talented team</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="owl-example" class="owl-carousel">
          <div class="item">
            <img class="display-pic" src="img/amelia.jpg" alt="Team Member">
              <h3>Amelia Terrapin</h3>
              <h4>partner</h4>
              <p>Amelia is an experienced dancer, systems thinker and educator.  Reluctant to choose between art and science, her work unites the two. She has 15 years of experience using movement to create powerful learning environments for groups that range from schoolchildren and at-risk teens to engineers and business executives.</p>
              <a class="icon" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="icon" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="icon" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
          <div class="item">
            <img class="display-pic" src="img/cheri.jpg" alt="Team Member">
              <h3>Cheri Torres, PhD</h3>
              <h4>partner</h4>
              <p>Cheri specializes in leadership and team development and whole systems planning and change efforts. She partners with clients to create a culture of creativity and engagement, which enhances relationships as well as broadens and builds their capacity for collaborative learning, innovation, and excellence.</p>
              <a class="icon" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="icon" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="icon" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
          <div class="item">
            <img class="display-pic" src="img/haiz.jpg" alt="Team Member">
              <h3>Haiz Oppenheimer</h3>
              <h4>partner</h4>
              <p>Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
              <a class="icon" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="icon" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="icon" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
