<!-- Testimonials
================================================== -->
<section id="testimonials" class="dark">

  <div class="page-header text-center">
    <h3>Testimonials</h3>
    <h2>We Deliver Impactful Engagment</h2>
  </div>

  <div class="container">

    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="img/user-avatar1.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Working with NextMove was an absolute pleasure. I look forward to working with them again in other capacities in the future, and for sure for our next Building Bridges Board Retreat! I can't recommend them highly enough!"</p>
                    <small>Susan Bean, Board Co-Chair, Building Bridges of Asheville</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="img/user-avatar2.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"I have seen the practical tools being used throughout the organization, but a much deeper shift is also taking place."</p>
                    <small>Colin Goodfellow, Chief Executive Office, Kemptville District Hospital, Ontario</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="img/user-avatar3.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Just finished a great Appreciative Inquiry exercise under the guidance of Cheri Torres and Amelia Terrapin. They have mad facilitation skills, and it is such a productive, energizing and positive method of improving - whatever it is that needs it."</p>
                    <small>Lisa Clark, Institute for Nuclear Power Operations</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>

</section>
